<section id="mostrar">
    <div>
        <p>Por favor, ingrese el color con el que desea resaltar las coincidencias de los apellidos</p>

        <form action="post">
            <label for="colores"></label>
            <select name="color" id="elegir">
                <option value="">elegir</option>
                <option value="red">rojo</option>
                <option value="green">verde</option>
                <option value="blue">azul</option>
                <option value="yellow">amarillo</option>
                <option value="purple">morado</option>
                <option value="grey">gris</option>
            </select>
            <input type="submit" id="coloresApellidos"></form>
        </div>
    </section>
