<section id="mostrar">
    <div>
        <p>¿Desea ver si hay coincidencias en los apellidos?</p>
        <img src="imgs/ok.png" alt="imágen de ok" class="imgOk displayNone">
        <form action="" class="formRadio">
            <div id="divRadio">
                <label for="confirmar">si </label>
                <input type="radio" id="confirmar" class="radio" name="confirmacion" value="si">
                <label for="noConfirmar">no </label>
                <input type="radio" id="noConfirmar" class="radio" name="confirmacion" value="no">
           </div>
            <input type="submit" id="submitIrApellidos">
        </form>
    </div>
</section>